<h1>Your Saved Job Board:</h1>


<% saved.forEach(save => { %>
    <div>
        <h3><%= save.positionName %></h3>
        <h3><%= save.jobLink %></h3>
        <h3><%= save.company %></h3>
        <h3><%= save.location %></h3>
    
        <form method="GET" action="/users/job-board/<%=save.id%>" >
            <input hidden type="text" name="name" value="<%=save.name %>" >
        </form>
        <a href="/users/job-board/<%=save.id%>" ><button class="btn btn-prmary" type="submit">View this job and make a note</button></a>
    </div>
<% }) %>