<section style="background-image: url('https://i.imgur.com/99e4zlb.jpg'); background-repeat: no-repeat; background-size:cover; background-attachment: fixed;">
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="card text-dark">
            <div class="card-body p-4">
              <h2 class="mb-0"><%=details.positionName %></h2>  
              <br>
              <h5 class="mb-0 fw-light mb-4 pb-2">Link to apply: <a href="<%= details.jobLink %>" target="_blank"><%= details.jobLink %></a></h5>
              <div class="d-flex flex-start">
                <div>
                  <div class="d-flex align-items-center mb-3">
                  </div>
                  <p class="mb-0">
                    <div>
                        <form method="GET" action="/users/job-board/<%=details.id%>" class="mx-1 mx-md-4">
                            <input hidden type="text" name="name" value="<%=details.name %>">
                        </form>
                        <form method="POST" action="/job-notes/<%=details.id%>/notes" class="mx-1 mx-md-4">
                            <label for="note"><h5>Add a new note here:</h5></label>
                            <input type="text" name="note">
                            <br>
                            <br>
                            <label for="date"><h5>Date</h5></label>
                            <input type="date" name="date">
                            <input type="submit" class="btn btn-primary btn-lg">
                        </form>
                    </div>
                    </p>
                </div>

                <div>
                    <div class="d-flex align-items-center mb-3">
                    </div>
                    <p class="mb-0">
                      <div>
                          <% note.forEach(note => { %>

                              <p class="p-3 mb-2 bg-info text-white"><%= note.note %></p>
                              <p class="text-warning"><%= note.date %> </p>
                              <a href="/job-notes/<%=details.id%>/<%= note.id %>/edit" role="button" class="btn btn-warning">Edit</a>
                              <form method="POST" action="/job-notes/<%=note.id%>/?_method=DELETE" class="mx-1 mx-md-4">
                                <div class="d-flex mx-4 mb-3 mb-lg-4">
                                <input type="submit" value="Delete" class="btn btn-primary">
                              </div>
                              </form>
    

                              <% }) %>

                      </div>
                      
                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <a href = '/users/job-board'>Back to your Job Board</a>
                      </div>

                      </p>
                  </div>

              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </section>


 