<!-- Details on a specific job -->

<h1> <%=jobs.name %> position details:</h1>

    <li>Postion Name: <%= jobs.name %> </li>
    <li>Location: <%= jobs.locations[0].name %></li>
    <li>Company: <%= jobs.company.name %></li>
    <li>Link to apply: <%= jobs.refs.landing_page %></li>
    <li>Job Posted Date: <%= jobs.publication_date %></li>


<!-- Adding job to Saved Job Board -->
<form method="POST" action="/jobs">
    <input hidden value="<%= jobs.name%>" name="positionName"/>


</form>