<h1>Search Results for:</h1>
<h2><%= userSearch %></h2>

<% jobs.forEach(job => { %>
    <div>
        <h3><%= job.name %></h3>
        <p><%= job.locations[0].name %></p>
        <p><%= job.type %></p>


        <form method="POST" action="/job-board">
            <input hidden type="text" name="name" value="<%=job.name %>" >
            <input hidden type="text" name="type" value="<%=job.type %>" >
            <input hidden type="text" name="locations" value="<%=job.locations[0].name %>" >


        <button class="btn btn-primary" type="submit">Add to Your Job Board</button>
         </form>
    </div>
<% }) %>

   