<h1>Search Results for:</h1>
<h2><%= userSearch %></h2>

<% jobs.forEach(job => { %>
    <div>
        <h3><%= job.name %></h3>
        <p><%= job.locations[0].name %></p>


        <form method="POST" action="/users/job-board">
            <input hidden type="text" name="name" value="<%=job.name %>" >
            <input hidden type="text" name="link" value="<%=job.refs.landing_page %>" >
            <input hidden type="text" name="company" value="<%=job.company.name %>" >
            <input hidden type="text" name="locations" value="<%=job.locations[0].name %>" >


        <button class="btn btn-primary" type="submit">Add to Your Job Board</button>
         </form>
    </div>
<% }) %>

   